.a-layout{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  .language-button{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0 20px;
    height: 90px;
  }
  .search-box{
    height: 35px;
    margin: 0 0 10px;
  }
}
